/* ============ Part 1 Rectangle ================ */
#Part1 {
    border: dotted 2px black;
}

/* ============ Part 2 Circle ================ */
#Part2 {
    border: dotted 2px black;
}

/* ============ Part 3 Star ================ */
#Part3 {
    border: dotted 2px black;
}

/* ============ Part 4 Umbrella ================ */
#Part4 {
    border: dotted 2px black;
}

/* ============ Part 5 Text ================ */
#Part5 {
    border: dotted 2px black;
}

/* ============ Part 6 Pixel Manipulation  ================ */
#Part6 {
    border: dotted 2px black;
}


/* ============ Part 6 Pixel Manipulation  ================ */
#Part7 {
    border: dotted 2px black;
}